    
 <div class="container-fluid">
      <div class="row-fluid">
        
        <div class="span8">
          
                    
                    <!--  Carousel - consult the Twitter Bootstrap docs at
                http://twitter.github.com/bootstrap/javascript.html#carousel -->
          <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
            <div class="carousel-inner">
              <div class="item" id="item1"><!-- class of active since it's the first item -->
                
                <div class="hero-unit hero-overlay" >
                  <h1>Kale</h1>
                  <p>Kale in sesaon</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                </div>
              </div>


              <div class="item active" id="item2">
                <div class="hero-unit hero-overlay pull-right" >
                  <h1>Squash</h1>
                  <p>Summer Squash in sesaon</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                </div>
                
              </div>
              <div class="item" id="item3">
                <div class="hero-unit hero-overlay" >
                  <h1>Heirloom Tomatoes</h1>
                  <p>Heirloom Tomatoes  in sesaon</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                </div>
              </div>

              <div class="item" id="item4">
                <div class="hero-unit hero-overlay pull-right" >
                  <h1>Pistachios</h1>
                  <p>Pistachios in sesaon</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                </div>
              </div>
            </div><!-- /.carousel-inner -->
            <!--  Next and Previous controls below
                  href values must reference the id for this carousel -->
              <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
          </div><!-- /.carousel -->
          
          
          <div class="row-fluid">
            <div class="span6">
              <img src="http://maps.googleapis.com/maps/api/staticmap?center=Los+Angeles+California&zoom=13&size=800x500&maptype=roadmap
        &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
        &markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&sensor=false">
            </div>
            <div class="span6">

              
<% @markets.each do |market| 
    @linkname = market.name %>
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" width="100" src="http://farm9.staticflickr.com/8283/7740419400_29354fbde0_o.jpg">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to @linkname, market %></h4>

                  
                  <p><%= market.description %></p>
                </div>
              </div>
<% end %>




            </div>
          </div>

          
        </div>
        <div class="span4 sidebar">
          
          <div>
            <h4>August in California <button class="btn btn-small">Change Location</button></h4>
            <h3>What's in Peak Season</h3>
            

            <table class="table table-hover">
          
     
            <% @items.each do |item| %>
              <tr>
                <td><img class="item_thumb" src="<%= item.image_url %>" alt=""/></td>
                <td><%= item.name %></td>
             
                <td>
                  <div class="pull-right">
                    <button class="btn btn-success btn-small"><i class="icon-leaf"> More Info</i></button> 
                    <button class="btn btn-small"><i class="icon-plus"> Add to List</i></button>
                  </div>
                </td>
               
              </tr>
            <% end %>

             

            </table>
          </div>

        </div><!--/span-->

      </div><!--/row-->
      





