<table class="table table-hover">  
     
<% @items.each do |item| %>
  <tr>
    <td><img class="item_thumb" src="<%= item.image_url %>" alt=""/></td>
    <td><%= link_to item.name, item %></td>
    <td>
      <div class="pull-right">
         <%= button_to "Learn More", item, :method => "get", :class => 'btn btn-success btn-mini' %>
      </div>
    </td>
  </tr>
<% end %>
</table>

