<li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
                <%= Date::MONTHNAMES[@month] %> in <%= @region %>
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-refresh"></i> Reset Location</a></li>  
                  <li><a href="#"><i class="icon-globe"></i> Choose Region</a></li> 
                </ul>
              </li>